@import "../../Styles/variables.scss";

.page {
    padding-top: $top;
    height: 100vh;
    //animation: cameraFlash .1s .1s alternate-reverse 1;

    .titre {
        font-family: $font1;
        display: flex;
        font-size: $titre;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: $text;
        margin-top: 100px; 
        margin-bottom: 50px;
        height: 50px;
    }

    .polaroid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px; 
        width: 100%;
        margin-top: 100px;
        z-index: 1;
        overflow: hidden;
        /*animation: ZoomInRotate 1.5s cubic-bezier(.71,0,.54,.88);
        animation-delay: 300ms;*/
        .img {
            width: 100%; 
            height: auto; 
            margin-bottom: $bottom;
        }
    }
}

/*@keyframes ZoomInRotate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(6);
        rotate: 180deg;
        //transform: translateY(50%);
    }
}

@keyframes cameraFlash {
    from {box-shadow: 0;}
    to {box-shadow: inset 0 0 0 100px #fff;}
}*/
