@import "../../Styles/variables.scss";

.header {
    display: flex; /* Utilise display: flex; pour aligner les éléments en ligne */
    justify-content: space-around; /* Espace équitablement les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    position: fixed;
    font-family: $font1;
    font-size: 1.5em;
    top: 0;
    right: 0;
    left: 0;
    height: $header;
    margin-bottom: 50px;
    background-color: $background;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
    a {
        text-decoration: none; // Supprime le soulignement
        color: inherit; // Utilise la couleur héritée, peut être modifiée selon vos besoins
        cursor: pointer; // Ajoute un curseur pointer pour indiquer qu'il s'agit d'un lien cliquable
    }
    
    .custom-link {
        color: $text; /* Couleur du texte */
        text-decoration: none; /* Supprime le soulignement */
    }
    > div:not(:last-child) {
        margin-left: 10px; /* Ajuste la valeur selon l'espace souhaité */
    }
    .accueil {
        margin-right: 10px;
    }
    .about {

    }
    .education {
        
    }
    .experience {

    }
    .skills {
        
    }
    .contact {
        

    }
    
}

@keyframes cameraFlash {
    from {box-shadow: 0;}
    to {box-shadow: inset 0 0 0 100px #fff;}
}