@import "../../Styles/variables.scss";

.Titres {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    position: fixed;
    font-family: $font1;
    font-size: 1.5em;
    font-weight: bold;
    top: 0;
    right: 0;
    left: 0;
    height: $header;
    margin-bottom: 50px;
    background-color: $background;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    a {
        text-decoration: none;
        color: inherit; 
        cursor: pointer; 
    }
    
    .custom-link {
        color: $text; 
        text-decoration: none;
    }
    > div:not(:last-child) {
        margin-left: 10px; 
    }
    .accueil {
        margin-right: 10px;
    }
    .about {

    }
    .education {
        
    }
    .experience {

    }
    .skills {
        
    }
    .contact {
        

    }
    .dropdown {
        select {
        background-color: $c1;
        color: $background;
        border-radius: 10px;
        padding-right: 5px;
        padding-left: 5px;
        font-weight: bold;
    }
    }
}