<div class="header">
    <div class="accueil"><a routerLink="" class="custom-link">Simon Tauvron</a></div>
    <div class="about"><a routerLink="/about-me" class="custom-link">About me</a></div>
    <div class="education"><a routerLink="/education" class="custom-link">Education</a></div>
    <div class="experience"><a routerLink="/experience" class="custom-link">Experience</a></div>
    <div class="skills"><a routerLink="/skills" class="custom-link">Skills</a></div>
    <div class="contact"><a routerLink="/contact" class="custom-link">Contact</a></div>

</div>
