@import "../../Styles/variables.scss";

.page {
    margin-top: $top;
    margin-bottom: $bottom;
    font-family: $font1;

    .contact-form {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 20px;
        margin: 5%;

        h2 {
            text-align: center;
            color: $background;
        }

        .contact-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
    
            .info-container {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                background-color: $c1;
                border-radius: 10px;
                padding: 20px;
                overflow: hidden;
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px; // Ajoutez une marge en bas pour l'espace entre les infos et le formulaire

            .info {
                p {
                    margin: 0;
                    color: $background;
                }
            }
        }

            .formulaire {
                width: 100%;
                form {
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    width: 100%;
                    max-width: 100%;
                    background-color: $c1;
                    border-radius: 10px;
                    padding: 20px;

                    input,
                    textarea {
                        width: calc(100% - 16px);
                    }

                    .form-group {
                        margin-bottom: 15px;

                        .placeholder {
                            font-family: $font1;
                        }

                        label {
                            margin-bottom: 5px;
                            color: $background;
                        }

                        input,
                        textarea {
                            width: 100%;
                            padding: 8px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            box-sizing: border-box;
                            background-color: #fff;
                            transition: border-color 0.3s ease;

                            &:hover {
                                border-color: $c1;
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            }

                            &:focus {
                                border-color: $c1;
                            }
                        }
                    }

                    button {
                        color: $c1;
                        padding: 10px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        background-color: $background;
                        padding: 12px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                        font-family: $font1;

                        &:hover {
                            background-color: lighten($c1, 30%);
                        }
                    }
                }
            }
        }
    }
}
