<div id="contact" class="page">
    <div class=titre>Contact</div>

    <div class="contact-form">

        <div class="contact-container">
            <div class="info-container">
                <div class="info">
                    <p>{{ informations.name }}</p>
                    <p>{{ informations.email }}</p>
                    <p>{{ informations.tel }}</p>
                    <p>{{ informations.city }}</p>
                </div>
            </div>

            <div class="formulaire">
                <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
                    <div class="form-group">
                        <label for="name">{{ contact.YourName }} :</label>
                        <input type="text" id="name" formControlName="name" required placeholder="Simon">
                    </div>
                    <div class="form-group">
                        <label for="email">{{ contact.Email }} :</label>
                        <input type="email" id="email" formControlName="email" required placeholder="stauvron@ensc.fr">
                    </div>
                    <div class="form-group">
                        <label for="message"> {{ contact.YourMessage }} :</label>
                        <textarea id="message" formControlName="message" required ></textarea>
                    </div>
                    <button type="submit"> {{ contact.Send }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
