<div id="skills" class="page">
    <div class=titre>{{header.Skills}}</div>
        <div class="wrapper">
        
            <div class="item">
            <div class="polaroid"><img src="assets/images/Csharp.png">
                <div class="caption">C#</div>
            </div>
            </div>
        
            <div class="item">
            <div class="polaroid"><img src="assets/images/php.png">
                <div class="caption">PHP</div>
            </div>
            </div>
        
            <div class="item">
            <div class="polaroid"><img src="assets/images/angular.png">
                <div class="caption">Angular</div>
            </div>
            </div>

            <div class="item">
            <div class="polaroid"><img src="assets/images/react.png">
                <div class="caption">React</div>
            </div>
            </div>
            
            <div class="item">
            <div class="polaroid"><img src="assets/images/figma.png">
                <div class="caption">Figma</div>
            </div>
            </div>

            <div class="item">
            <div class="polaroid"><img src="assets/images/sql.png">
                <div class="caption">SQL</div>
            </div>
            </div>

            <div class="item">
            <div class="polaroid"><img src="assets/images/html.png">
                <div class="caption">HTML</div>
            </div>
            </div>

            <div class="item">
            <div class="polaroid"><img src="assets/images/css.png">
                <div class="caption">CSS</div>
            </div>
            </div>
        
        </div>
</div>