<div id="skills" class="page">
    <div class=titre>{{header.Skills}}</div>
        <div class="wrapper">
        
            <div class="item">
            <div class="polaroid"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/C_Sharp_Logo_2023.svg">
                <div class="caption">C#</div>
            </div>
            </div>
        
            <div class="item">
            <div class="polaroid"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png">
                <div class="caption">PHP</div>
            </div>
            </div>
        
            <div class="item">
            <div class="polaroid"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/800px-Angular_full_color_logo.svg.png">
                <div class="caption">Angular</div>
            </div>
            </div>

            <div class="item">
            <div class="polaroid"><img src="https://upload.wikimedia.org/wikipedia/commons/3/30/React_Logo_SVG.svg">
                <div class="caption">React</div>
            </div>
            </div>
            
            <div class="item">
            <div class="polaroid"><img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg">
                <div class="caption">Figma</div>
            </div>
            </div>

            <div class="item">
            <div class="polaroid"><img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Sql_data_base_with_logo.png">
                <div class="caption">SQL</div>
            </div>
            </div>

            <div class="item">
            <div class="polaroid"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/langfr-1920px-HTML5_logo_and_wordmark.svg.png">
                <div class="caption">HTML</div>
            </div>
            </div>

            <div class="item">
            <div class="polaroid"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/langfr-1280px-CSS3_logo_and_wordmark.svg.png">
                <div class="caption">CSS</div>
            </div>
            </div>
        
        </div>
</div>