.polaroid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ajustez la largeur selon vos besoins */
    height: 100%; /* Ajustez la largeur selon vos besoins */

    .photo-container {
        position: relative;
        //width: 100%; /* Ajustez la largeur du template */
        max-width: 435px; /* Largeur maximale du template */
        //height: 100%; /* Ajustez la hauteur du template */
        max-height: 535px; /* Hauteur maximale du template */

        .template {
        }
    }

    .inserted-photo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}
