<div id="experience" class="page">
    <div class="titre">{{header.Experience}}</div>
    <div class="container">
        <div *ngFor="let project of projects" class="project" [style.backgroundImage]="'url(' + project.photo + ')'">
            <div class="content">
                <h2>{{ project.name }}</h2>
                <span>{{ project.duration }}</span> <br>
                <div class="showdescription" (click)="toggleDescription(project)">{{ project.buttonLabel }}</div>
                <div class="description" *ngIf="project.showDescription">{{ project.description }}</div> 
            </div>
        </div>
    </div>
</div>
