<div id="experience" class="page">
    <div class=titre>Experience</div>
    <div class="container">
        <div>
        <div class="content">
            <h2>{{projects.name}}</h2>
            <span>{{projects.duration}}</span>
        </div>
        </div>
        <div>
        <div class="content">
            <h2>{{projects.name}}</h2>
            <span>{{projects.duration}}</span>
        </div>
        </div>
        <div>
        <div class="content">
            <h2>{{projects.name}}</h2>
            <span>{{projects.duration}}</span>
        </div>
        </div>
        <div>
        <div class="content">
            <h2>{{projects.name}}</h2>
            <span>{{projects.duration}}</span>
        </div>
        </div>
    </div>
</div>
