<div id="education" class="page">
    <div class="carousel">
        <div class="navigation-buttons">
            <button (click)="showPreviousEvent()">Previous</button>
            <button (click)="showNextEvent()">Next</button>
        </div>
        <div class="events-container">
            <div class="event">
                <div class="event-content">{{ events[currentIndex] }}</div>
            
                <app-polaroid></app-polaroid>
            
            </div>
        </div>
    </div>
</div>
