<div id="education" class="page">
    <div class=titre>{{header.Education}}</div>
    <div class="carousel">
        <div class="event">
            <div class="education-container">
                <div class="event-text">
                    <div class="degree"> {{ educationData[currentIndex]?.degree }}</div>
                    <div class="place"> {{ educationData[currentIndex]?.place }}, {{ educationData[currentIndex].city }}</div>
                    <div class="speciality"> Option : {{ educationData[currentIndex].speciality }}</div>
                    <div class="duration"> {{ educationData[currentIndex].duration }}</div>
                    <div class="description"> {{ educationData[currentIndex].description }}</div>   
                    <div class="navigation-buttons">
                        <button class="btnprevious" (click)="showPreviousEvent()">{{ button.Previous }}</button>
                        <button class="btnnext" (click)="showNextEvent()">{{ button.Next }}</button>
                    </div>     
                </div>
            </div>  
            <div class="event-photo">
                <app-polaroid [photoSrc]="educationData[currentIndex]?.photo"></app-polaroid>
            </div>    
        </div>
    </div>
</div>
