<div id="about-me" class="page">
    <div class="head">
        <app-color-rectangle></app-color-rectangle>
        <img src="assets/images/globe_icon.png">
    </div>
    <div class="card-container">
    <div class="card">
        <!-- Face avant -->
        <div class="front">
        <app-polaroid [photoSrc]="photoPath"></app-polaroid>
    
        <div class="txtpolaroid">
            <p>Simon Tauvron</p>
        </div>
        </div>
        <!-- Face arrière -->
        <div class="back">
        <img class="back-image" src="assets/images/polaroid_template4back.png" alt="Back Image">
        <div class="txtpolaroid2">
            <p>{{informations.sex}}</p>
            <p>{{informations.age}}</p>
            <p>{{informations.nationality}}</p>
            <p>{{informations.birth}}</p>
        </div>
    </div>
    </div>
    </div>
</div>
